{% extends "base.html" %}

{% block title %}posts {% endblock title %}

{% block content %}
    <h3 class='text-center'>this is posts page</h3 >

      <form method='get' action="" novalidate class="col-md-3">
        {{search_form.as_p}}
        <input class='col-md-3' value='search' type='submit'>
      </form>
    
    </br>
    {% if request.user.is_authenticated %}
    <a href="{% url "home:post-create" %}" class="btn btn-success">add a new post</a> 
    <br>
            
    {% endif %}
      {% if posts %}
        {% for post in posts %}
          <div class="card text-center">
            <div class="card-header">
              {{post.author}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.body |truncatewords:6}}</p>
              <a href="{% url "home:post-detail-page" post_id=post.id post_slug=post.slug  %}" class="btn btn-primary">detail page</a>
            </div>
            <div class="card-footer text-muted">
              {{post.created_date | date:'d M - l'}}
            </div>
          </div>
        </br>
        {% endfor %}
        {% else %}
        <h2 class='text-center bg-dark text-white'>there is no post!! do you want to add first? click on add a post :))</h2>
      {% endif %}
{% endblock content %}