{% extends "base.html" %}

{% block title %}post detail page {% endblock title %}

{% block content %}
<h3 class='text-center'>this is detail page</h3 >
</br>
          {% if request.user.id == post.author.id %}
            <a href="{% url "home:post-delete" post_id=post.id %}" class="btn btn-danger">delete</a> 
            <a href="{% url "home:post-update" post_id=post.id %}" class="btn btn-info">update</a> 
            {% else %}
            <a href="{% url "accounts:profile-page" user_id=post.author.id %}" class="btn btn-info">go to author profile</a> 
            
          {% endif %}
          <div class="card text-center">
            <div class="card-header">
              {% if post.author.username %}
                {{post.author.username}}
              {% else %}
                {{post.author.email}}
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.body}}</p>
            </div>
            <div class="card-footer text-muted">
              {{post.created_date | date:'j M o D'}}
            </div>
          </div>
          <br>
          {% if request.user.is_authenticated %}
            <form method='post' action="" novalidate>
              {% csrf_token %}
              {{comment_form.as_p}}
              <input class='col-md-1' value='submit' type='submit'>
              {% comment %} <input class='col-md-1 offset-5' value='submit' type='submit'> {% endcomment %}
            </form>
            {% else %}
            <p class='alert alert-danger'>only <a href="{% url "accounts:login-page" %}">logged in</a> user cans comment!!<p>
          {% endif %}
          {% if comments %}
          <h5 class='text-center'>comments({{comments.count}})</h5>
            {% for comment in comments %}
              <div class='bg-white text-black card'>
                <p class='card-header'>{{comment.user}} | {{comment.created_date|timesince}}</p>
                <p class='bg-dark text-white card-body'>{{comment.body}}</p>
              </div>
              <br>
            {% endfor %}
            {% else %}
            <p class='bg-dark text-white text-center'>no comments!</p>
          {% endif %}

          {% comment %} {% for comment in comments %}
          {%empty%}
          <p class="text-center">no comments!</p>
          {% endfor %} {% endcomment %}
{% endblock content %}