{% extends "base.html" %}

{% block title %}posts {% endblock title %}

{% block content %}
        {% if user.username %}
        <h3 class='text-center'>{{user.username}}</h3>
        {% else %}
        {{user.email}}
        {% endif %} <br>

        <form method='post' action="" novalidate >
          {% csrf_token %}
          {{profile_form.as_p}}
          <input value='edit' type='submit' class="btn btn-dark">
        </form>
    <hr>
    </br>
      {% if request.user.id == user.id %}
        <a href="{% url "home:post-create" %}" class="btn btn-success">add a new post</a>
 
        {% else %}
        {% if is_following %}
        <a href="{% url "accounts:unfollow-view" user_id=user.id %}" class="btn btn-info">unfollow</a>
        {% else %}
        <a href="{% url "accounts:follow-view" user_id=user.id %}" class="btn btn-info">follow</a>
        {% endif %}
      {% endif %}

      <a href="{% url "accounts:user-followers" user_id=user.id %}" class="btn btn-dark">followers({{followers_count}})</a>
      <a href="{% url "accounts:user-followings" user_id=user.id %}" class="btn btn-dark">followings({{followings_count}})</a>
      {% if posts %}
        {% for post in posts %}
          <div class="card text-center">
            <div class="card-header">
              {{post.author}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.body |truncatewords:6}}</p>
              <a href="{% url "home:post-detail-page" post_id=post.id post_slug=post.slug  %}" class="btn btn-primary">detail page</a>
            </div>
            <div class="card-footer text-muted">
              {{post.created_date | date:'d l'}}
            </div>
          </div>
        </br>
        {% endfor %}
        {% else %}
        <p>there is no post!! do you want add first? click on add a post in post page :))</p>
      {% endif %}
{% endblock content %}
